// BUTTONS
.signupbn{
    display: inline-block;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0.3em 2.5em;
    border: 1px solid $light-color;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    color: $light-color;
    transition: 0.35s ease-in;    
}

.signupbn:hover{
    background: $light-gray;
    color: $dark-color;
    transform: translate(2px)
}

//change theme
.theme {
    position: relative;
}
.themebtn {
    background: $primary-color;
    box-sizing: border-box;
    width: 50px;
    height: 25px;
    border-radius: 55px;
}
.circle {
    background: $light-color;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 1.5px;
    transition: left 0.4s ease-in-out;
    padding: 3px;
    box-sizing: border-box;

    &.light-theme{
        left: 1.5px;
    }
    &.dark-theme{
        left: calc(100% - 25px + 1.5px); //move to right
    }
}




