/* FLEXBOX */
.flex-column{
    @include flexbox(column);
    margin: 0 auto;
    width: 80vw;
}

.flex-row{
    @include flexbox(row, $align: flex-start);
    column-gap: 3em;
}

.flex-item{
    flex: 1 1 0;
}

@media screen and (max-width: 764px){
    .flex-row{
        @include flexbox(column);
    }
}
